body{
  padding: 0px;
  margin: 0px;
}

html{
  font-size: 62.5%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
  margin: 0px;
}

h1{
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

nav{
  height: 59px;
  border-bottom: 1px solid #a9a9a9;
}

main {
  width: 100%;
  min-height: calc(100vh - (60px + 100px));
}

footer {
  height: 99px;
  border-top: 1px solid #a9a9a9;
}

.f{
  display: flex;
}

.jc{
  justify-content: center;
}

.ai{
  align-items: center;
}

.column{
  flex-direction: column;
}

.row{
  flex-direction: row;
}