body{
  padding: 0px;
  margin: 0px;
}

html{
  font-size: 62.5%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 3rem;
  font-weight: 700;
  margin: 0px;
}

nav{
  height: 59px;
  border-bottom: 1px solid #a9a9a9;
}

main {
  width: 100%;
  min-height: calc(100vh - (60px + 100px));
}

footer {
  height: 99px;
  border-top: 1px solid #a9a9a9;
}

.flex-center-v{
  display: flex;
  align-items: center;
}