
.drag_container {
    display: flex;
    width: 100%;
  }
  
.drag_column {
border: 1px solid var(--primary);
box-shadow: 0px 10px 30px -25px var(--primary);
border-radius: 10px;
padding: 5px;
margin: 10px;
min-height: 350px;
width: 25%;
}



.drag_column div {
margin: 5px;
padding: 10px;
cursor: move;
}

.drag_task{
    border: 1px solid var(--primary);
    font-weight: 550;
    border-radius: 10px;
}

.drag_p{
    font-weight: 600px;
}

