{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JARI{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>
<body>
<nav class="f ai">
    {% include "navbar.html" %}
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="f ai space_between" style="gap: 10px">
    <div  class="f ai" style="gap: 20px">
        <p>Samuel Lagarde</p>
        <p>Paul Laffont</p>
        <p>Alexandre Agasse</p>
        <p>Joffrey Rey<p>
    </div>
    <p>2024 JARI</p>
</footer>

<!-- JS -->
<script src="{% static 'js/base.js' %}"></script>
</body>
</html>
