{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Liste des congés</h1>
<a href="{% url 'ajouter_conges' %}"><button>Ajouter un congé</button></a>
<div class="tab-wrapper">
<table class="rounded">
    <thead>
        <tr>
            <th>Statut</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Utilisateur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for conge in conges %}
        <tr class="{% if conge.malade %}malade-oui{% endif %}">
            <td>{% if conge.malade %} Arrêt maladie {% else %}Congé{% endif %}</td>
            <td>{% if conge.date_debut %}{{ conge.date_debut|date:'d/m/Y' }}{% else %}N/A{% endif %}</td>
            <td>{% if conge.date_fin %}{{ conge.date_fin|date:'d/m/Y' }}{% else %}N/A{% endif %}</td>
            <td>{{ conge.user.username }}</td>
            <td>
                <a href="{% url 'supprimer_conge' conge.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce congé ?')"><button class="btn-red">Supprimer</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}