<!-- templates/drag_drop.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag and Drop</title>
    <link rel="stylesheet" href="/app/styles/drag.css">
    <style>
        h1{
            color: red;
        }
        div{
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<h1>JE SUIS LA</h1>
<div id="column1" class="column">
    {% for item in all_items %}
        {% if item.column == 'column1' %}
            <div class="draggable-item" data-item-id="{{ item.id }}">{{ item.name }}</div>
        {% endif %}
    {% endfor %}
</div>

<div id="column2" class="column">
    {% for item in all_items %}
        {% if item.column == 'column2' %}
            <div class="draggable-item" data-item-id="{{ item.id }}">{{ item.name }}</div>
        {% endif %}
    {% endfor %}
</div>


<script>
    $(function() {
        console.log("Le code JavaScript est en cours d'exécution.");
    
        $(".draggable-item").draggable({
            revert: "invalid",
            helper: "clone"
        });
    
        $(".column").droppable({
            accept: ".draggable-item",
            drop: function(event, ui) {
                var itemId = ui.draggable.data("item-id");
                var newColumn = $(this).attr("id");
    
                $.ajax({
                    url: "/update_column/",
                    type: "POST",
                    data: {
                        item_id: itemId,
                        new_column: newColumn,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function(data) {
                        // Mettez à jour dynamiquement le contenu de la colonne
                        $("#" + newColumn).append(ui.draggable.clone());
                        ui.helper.remove();  // Supprimez le clone de l'élément
    
                        // Vous pouvez ajouter d'autres actions de mise à jour ici
                    }
                });
            }
        });
        console.log("Le code JavaScript est finie.");
    });
    
</script>

</body>
</html>
