<!-- templates/drag_drop.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag and Drop</title>
    <!-- <link rel="stylesheet" href="/app/styles/drag.css"> -->
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        h1{
            color: red;
        }
        .container {
            display: flex;
          }
          
          .column {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            min-height: 200px;
            width: 100px;
          }
          
          .column div {
            margin: 5px;
            padding: 10px;
            background-color: #eee;
            cursor: move;
          }
          
    </style>
</head>
<body>

    <div class="container">
        <div class="column" id="in_progress" ondrop="drop(event)" ondragover="allowDrop(event)">
            <p>In Progress</p>
            {% for progress in progress%}
            <div id="{{progress.title}}" draggable="true" ondragstart="drag(event)">{{progress.title}}</div>
            {% endfor %}
        </div>
        <div class="column" id="paused" ondrop="drop(event)" ondragover="allowDrop(event)">
            <p>Paused</p>
            {% for paused in paused%}
            <div id="{{paused.title}}" draggable="true" ondragstart="drag(event)">{{paused.title}}</div>
            {% endfor %}
        </div>
        <div class="column" id="completed" ondrop="drop(event)" ondragover="allowDrop(event)">
            <p>Completed</p>
            {% for completed in completed%}
            <div id="{{completed.title}}" draggable="true" ondragstart="drag(event)">{{completed.title}}</div>
            {% endfor %}
        </div>
        <div class="column" id="validated" ondrop="drop(event)" ondragover="allowDrop(event)">
            <p>Validated</p>
            {% for validated in validated%}
            <div id="{{validated.title}}" draggable="true" ondragstart="drag(event)">{{validated.title}}</div>
            {% endfor %}
        </div>
        <div class="column" id="planed" ondrop="drop(event)" ondragover="allowDrop(event)">
            <p>Planed</p>
            {% for planned in planned%}
            <div id="{{planned.title}}" draggable="true" ondragstart="drag(event)">{{planned.title}}</div>
            {% endfor %}
        </div>
    </div>


<script>

    function allowDrop(event) {
        event.preventDefault();
      }
      
      function drag(event) {
        event.dataTransfer.setData("text", event.target.id);
      }
      
      function drop(event) {
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        var draggedElement = document.getElementById(data);
        var column = event.target.closest('.column');
      
        // Vérifie si l'élément est déposé dans une colonne
        if (column) {
            var div = draggedElement.innerText; 
            var columnId = column.id;
            console.log("Titre de la div déplacée : ", div);
            console.log("ID de la colonne : ", columnId);

            $.ajax({
                url: '/update_task_status/', 
                type: 'POST',
                data: {
                    'task_id': taskId,
                    'new_status': columnId 
                },
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.error(error);
                }
            });

            column.appendChild(draggedElement);
        }
      }
      

</script>

</body>
</html>
